DirectoryIndex index.html

RewriteEngine on
RewriteRule scianka-wspinaczkowa-gdansk index.html
RewriteRule scianka-informacje onas.html
RewriteRule jak-zaczac-wspinanie jakzaczac.html
RewriteRule sekcje-wspinaczkowe sekcje.html
RewriteRule kursy-wspinaczki-wysokosciowe kursy.html
RewriteRule urodziny-na-sciance urodziny.html
RewriteRule cennik cennik.html
RewriteRule kursy-wspinaczkowe-skalkowe kursy.html
RewriteRule kontakt kontakt.html
